* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL INSTRUCTION */

.body-wrapper {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100vh;
}

aside {
    float: left;
    width: 300px;
    height: calc(100% - 110px);
    background-color: rgb(4,4,4);
    position: relative;
}

main {
    float: left;
    overflow-y: auto;
    width: calc(100% - 300px);
    height: calc(100% - 110px);
    background: rgb(60,62,105);
    background: linear-gradient(349deg, rgba(60,62,105,1) 0%, rgba(86,75,185,1) 49%, rgba(163,81,146,1) 100%);
}

footer {
    float: left;
    width: 100%;
    height: 110px;
    background-color: rgb(40,40,40);
}


/* ASIDE CSS*/

.container-flex {
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.container-up {
    display: flex;
    flex-direction: column;
    color: lightgrey;
    padding-left: 50px;
}

.container-middle {
    display: flex;
    color: lightgrey;
    padding-left: 50px;
}

.container-bottom {
    position: absolute;
    bottom: 0;
    color: lightgrey;
    padding-left: 50px;
    padding-bottom: 20px;
}

.spotify-lg {
    width: 170px;
}

.fa-home {
    padding-right: 17px;
}

.spotify-xs {
    display: none;
}

.container-middle div span {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 15px;
    display: block;
    padding-top: 20px;
    padding-bottom: 7px;
}

ul li i {
    padding-right: 20px;
    font-size: 24px;
}

li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0px;
}

.lista2 ul {
    padding-top: 15px;
}

.lista2 ul li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 5px;
}

i {
    vertical-align: middle;
}


/* MAIN CSS*/

.container-top {
    height: 70px;
    max-width: 975px;
    margin: 0 auto;
}

.top-main-container {
    height: 70px;
    max-width: 900px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8) ;
}

.top-main-container-hamburger {
    display: none;
}

.container-center {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main-container-flex {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 85px;
    padding-top: 50px;
    padding-right: 20px;
}

.h1 {
    width: 100%;
    color: rgba(255, 255, 255, 0.8) ;
    padding-bottom: 20px;
}

.h1-a {
    width: 100%;
    color: rgba(255, 255, 255, 0.8) ;
    padding-bottom: 5px;
}

.h3 {
    width: 100%;
    color: lightgrey;
    opacity: 0.7;
    padding-bottom: 20px;
}

.quadro {
    height: 250px;
    width: 175px;
    background-color: rgba(40,40,40, 0.5);
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 19px;
}

.quadro-images {
    object-fit: cover;
    width: 100%;
    height: 66%;
    border-radius: 2px;
    margin-bottom: 13%;
}

.quadro-images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    margin-bottom: 13%;
}

.artist {
    height: 12%;
    color: rgba(255, 255, 255, 0.8);
}

.artist h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album {
    color: lightgrey;
    opacity: 0.7;
}

.album h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* FOOTER CSS */

.container-footer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.fot-left {
    width: 22%;
    padding: 18px;
    display: flex;
    align-items: center;
}

.fot-left-image {
    width: 38%;
    height: 100%;
    display: inline-block;
}

.fot-left-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.fot-left-text {
    width: 50%;
    padding-left: 10px;
}

.fot-left-text span {
    font-weight: bold;
    color: white;
}
.fot-left-text h6 {
    font-weight: 700;
    color: lightgrey;
}

.fot-left-heart {
    width: 15%;
    color: white;
}

.fot-left-heart i {
    color: white;
}

.fot-center {
    width: 45%;
    background-color: red;
}

.fot-right {
    float: left;
    width: 15%;
}

.elements {
    float: right;
    width: 100%;
    height: 100%;
    color: white;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.icons i {
    padding-right: 15px;
}

.range {
    width: 100%;
    height: 50%;
}


/* MEDIA QUERY */

@media all and (max-width: 614px) {

    .main-container-flex {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .h1, .h1-a, .h3 {
        text-align: center;
    }

    input {
        display: none;
    }

}

@media all and (max-width: 767px) {

    .top-main-container {
        display: none;
    }

    .top-main-container-hamburger {
        height: 70px;
        max-width: 900px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.8);
        padding-left: 15px;
    }

    aside {
        width: 90px;
    }

    .spotify-xs {
        display: block;
        width: 35px;
        margin: 25px 0;
    }

    .spotify-lg {
        display: none;
    }

    .container-up, .container-bottom {
        padding-left: 33px;
    }

    ul li span, .lista2 {
        display: none;
    }

    ul li i {
        padding: 0;
        text-align: center;
    }

    main {
        width: calc(100% - 90px);

    }

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 14px;
    }

    .fot-left {
        width: 38%;
    }

    .fot-left-image {
        width: 70%;
    }

    .fot-left-text {
        display: none;
    }

    .fot-left-heart i {
        padding-left: 15px;
    }

    .fot-center {
        width: 62%;
    }

    .fot-right {
        display: none;
    }

}

@media all and (min-width: 768px) and (max-width: 992px) {

    .top-main-container {
        display: none;
    }

    aside {
        width: 250px;
    }

    .container-up, .container-middle, .container-bottom {
        padding-left: 40px;
    }

    .spotify-lg {
        width: 130px;
    }

    main {
            width: calc(100% - 250px);
        }

    .top-main-container-hamburger {
        height: 70px;
        max-width: 900px;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.8);
        padding-left: 15px;
    }

    .fot-left {
        width: 30%;
    }

}

/* STILI SLIDER VOLUME */
[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 0px 0;
  width: 90%;
}
[type=range]::-moz-focus-outer {
  border: 0;
}
[type=range]:focus {
  outline: 0;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: #fbfbfc;
}
[type=range]:focus::-ms-fill-lower {
  background: #eceff1;
}
[type=range]:focus::-ms-fill-upper {
  background: #fbfbfc;
}
[type=range]::-webkit-slider-runnable-track {
    cursor: default;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
[type=range]::-webkit-slider-thumb {
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    margin-top: -7px;
}
[type=range]::-moz-range-track {
    cursor: default;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}
[type=range]::-moz-range-thumb {
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    margin-top: -7px;
}
[type=range]::-ms-track {
    cursor: default;
    height: 3px;
    transition: all 0.2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 12px 0;
    color: transparent;
}
[type=range]::-ms-fill-lower {
  background: #dde3e6;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}
[type=range]::-ms-fill-upper {
  background: #eceff1;
  border: 2px solid #cfd8dc;
  border-radius: 10px;
}
[type=range]::-ms-thumb {
    background: white;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: default;
    height: 16px;
    width: 16px;
    margin-top: 2px;
}
[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}
