* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL INSTRUCTION */

.body-wrapper {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-2 {
    max-width: 900px;
    margin: 0 auto;
}

aside {
    float: left;
    width: 300px;
    height: calc(100% - 150px);
    background-color: rgb(4,4,4);
    position: relative;
}

main {
    float: left;
    overflow-y: auto;
    width: calc(100% - 300px);
    height: calc(100% - 150px);
    background: rgb(60,62,105);
    background: linear-gradient(349deg, rgba(60,62,105,1) 0%, rgba(86,75,185,1) 49%, rgba(163,81,146,1) 100%);
}

footer {
    float: left;
    width: 100%;
    height: 150px;
    background-color: rgb(40,40,40);
}


/* ASIDE CSS*/

.container-flex1 {
    display: flex;
    flex-direction: column;
    color: lightgrey;
    padding-left: 50px;
}

.container-flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: lightgrey;
    padding-left: 50px;
}

.container-flex3 {
    position: absolute;
    bottom: 0;
    color: lightgrey;
    padding-left: 50px;
}

.container-flex1 img {
    width: 170px;
}

.container-flex2 div span {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 15px;
    display: block;
    padding-top: 20px;
    padding-bottom: 7px;
}

ul li i {
    padding-right: 20px;
    font-size: 20px
}

li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0px;
}

.lista2 ul {
    padding-top: 15px;
}

.lista2 ul li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 5px;
}






/* MEDIA QUERY */

@media all and (max-width: 767px) {

    .container-2 {
        display: none;
    }

    aside {
        height: 85vh;
        width: 25%;
    }

    main {
        width: 75%;
        height: 85vh;
    }

    footer {
        height: 15vh;
    }

}

@media all and (max-width: 992px) {

    .container-2 {
        display: none;
    }

    aside {
        width: 35%;
    }

    main {
        width: 65%;
    }

}
