* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL INSTRUCTION */

.body-wrapper {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100vh;
}

aside {
    float: left;
    width: 300px;
    height: calc(100% - 110px);
    background-color: rgb(4,4,4);
    position: relative;
}

main {
    float: left;
    overflow-y: auto;
    width: calc(100% - 300px);
    height: calc(100% - 110px);
    background: rgb(60,62,105);
    background: linear-gradient(349deg, rgba(60,62,105,1) 0%, rgba(86,75,185,1) 49%, rgba(163,81,146,1) 100%);
}

footer {
    float: left;
    width: 100%;
    height: 110px;
    background-color: rgb(40,40,40);
}


/* ASIDE CSS*/

.container-flex {
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.container-up {
    display: flex;
    flex-direction: column;
    color: lightgrey;
    padding-left: 50px;
}

.container-middle {
    display: flex;
    color: lightgrey;
    padding-left: 50px;
}

.container-bottom {
    position: absolute;
    bottom: 0;
    color: lightgrey;
    padding-left: 50px;
    padding-bottom: 20px;
}

.spotify-lg {
    width: 170px;
}

.fa-home {
    padding-right: 17px;
}

.spotify-xs {
    display: none;
}

.container-middle div span {
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 15px;
    display: block;
    padding-top: 20px;
    padding-bottom: 7px;
}

ul li i {
    padding-right: 20px;
    font-size: 24px;
}

li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 0px;
}

.lista2 ul {
    padding-top: 15px;
}

.lista2 ul li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 5px;
}

i {
    vertical-align: middle;
}


/* MAIN CSS*/

.container-top {
    height: 70px;
    max-width: 900px;
    margin: 0 auto;
    background-color: red;

}

.container-center {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main-container-flex {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 85px;
    padding-top: 50px;
    padding-right: 20px;
}

.h1 {
    width: 100%;
    color: white;
    padding-bottom: 20px;
}

.h1-a {
    width: 100%;
    color: white;
    padding-bottom: 5px;
}

.h3 {
    width: 100%;
    color: lightgrey;
    padding-bottom: 20px;
}

.quadro {
    height: 250px;
    width: 175px;
    background-color: rgba(40,40,40, 0.5);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}





/* MEDIA QUERY */

@media all and (max-width: 614px) {

    .main-container-flex {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .h1, .h1-a, .h3 {
        text-align: center;
    }

}

@media all and (max-width: 767px) {

    .container-top {
        display: none;
    }

    aside {
        width: 90px;
    }

    .spotify-xs {
        display: block;
        width: 35px;
        margin: 25px 0;
    }

    .spotify-lg {
        display: none;
    }

    .container-up, .container-bottom {
        padding-left: 33px;
    }

    ul li span, .lista2 {
        display: none;
    }

    ul li i {
        padding: 0;
        text-align: center;
    }

    main {
        width: calc(100% - 90px);

    }

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 14px;
    }

}

@media all and (min-width: 768px) and (max-width: 992px) {

    .container-top {
        display: none;
    }

    aside {
        width: 250px;
    }

    .container-up, .container-middle, .container-bottom {
        padding-left: 40px;
    }

    .spotify-lg {
        width: 130px;
    }

    main {
            width: calc(100% - 250px);
        }
}
